* {
  /*border: 2px solid indianred;*/
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 7px 7px 7px 7px;
}

.layout {
  background-color: #2e2245;
  outline: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
  flex: 1;
  min-height: 420px;
  min-width: 870px;
}

.header {
  margin: 0px 5px px 5px;
  display: flex;
  justify-content: space-evenly;
}

div, a{
  text-decoration: none;
  color: #caabff;
  margin: 0px 6px 0px 6px;
  font-weight: 690;
  font-size: 20px;
}

.main { 
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heading2,
.heading {
  align-self: center;
  font-size: 40px;
  font-weight: 900;
  color: white;
  margin: 14px 69px 14px 69px;
  text-align: center;
}

.heading2 {
  font-size: 24px;
}

.options,
.display,
.buttons,
.buttons-2 {
  display: flex;
  margin: 0px 0px 0px 0px;
  gap: 14px;
  min-width: 690px;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: row;
  padding: 32px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-2 {
  flex-direction: column;
  padding: 32px;
}

button {
  background-color: #9963f7;
  height: 200px;
  width: 200px;
  font-size: 24px;
  font-weight: 690;
  color: white;
  outline: 3px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#winner {
  background-color: #2e2245;
  outline: 0px solid white;
  margin: 0px -10px 0px -10px;
}

.display {
  margin-top: -69px;
  min-width: 690px;
  justify-content: center;
}

.options{
  margin-top: 10px;
  min-width: 420px;
  justify-content: space-around;
}

input {
  color: white;
  font-weight: 780;
  background-color: #9963f7;
  border-radius: 5px;
  outline: 3px solid white;
}

.display button {
  height: 150px;
  width: 150px;
}

.button-2{
  height: 32px;
  width: auto;
  margin: 0px;
  align-self: center;
}

img {
  max-height: 150px;
  max-width: 150px;
}

.display img {
  max-height: 150px;
  max-width: 150px;
}

.button-boss {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.footer-left,
.footer {
  display: flex;
  text-align: center;
  align-self: flex-end;
  color: white;
  margin: -80px 45px 90px 45px;
  justify-content: flex-end;
}

.footer-left {
  margin-bottom: -105px;
  justify-content: flex-start;
  align-self: flex-start;
}

.footer {
  margin-top: -40px;
  margin-bottom: 30px;
}

@media all and (orientation: portrait) { 
  body {
    max-width: 460px;
    min-height: 910px;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
  }
  
  .layout{
    min-width: 100px;
    max-width: 476px;
    min-height: 900px;
    margin-right: -170px;
    margin-left: 5px;
    padding: 0px;
  }
  
  .main {
    min-height: 810px;
    max-width: 460px;
    justify-content: center;
  }
  
  .heading {
    margin-top: 45px;
    min-width: 420px;
  }
  
  .buttons,
  .buttons-2 {
    min-width: 320px;
    max-width: 760px;
    min-height: 540px;
    padding: 0px;
    justify-content: center;
    gap: 42px;
  }
  
  .buttons {
    max-width: 320px;
    flex-direction: column;
    margin-top: 25px;
  }
}
